<section data-ng-controller="BimsController">
	<div class="page-header">
		<blockquote><h1>New Body Mass Index</h1></blockquote>
	</div>
	<div class="col-md-12">
		<form name="bimForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': bimForm.mass.$dirty && bimForm.height.$invalid }">
					<label class="control-label" for="mass">Mass</label>
					<div class="controls">
						<input name="mass" type="text" data-ng-model="mass" id="title" class="form-control" placeholder="In kilograms (Kg)" required>
					</div>					
				</div>
				<div class="form-group">
					<label class="control-label" for="content">Height</label>
					<div class="controls">
						<input name="height" type="text" data-ng-model="height" id="title" class="form-control" placeholder="In meters (m)" required>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
