<section data-ng-controller="BimsController" data-ng-init="find()">
	<div class="page-header">
	<blockquote><h1>Bims</h1></blockquote>
</div>
	<div class="list-group">
		<a data-ng-repeat="currentBim in bims" data-ng-href="/#!/bims/{{currentBim._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Date of BIM test	
				<span data-ng-bind="currentBim.created | date:'mediumDate'"></span>
				By
				<span data-ng-bind="currentBim.user.displayName"></span>
			</small>
			<h4 class="text-success">Category</h4><p class="text-info" data-ng-bind="currentBim.category"></p>
			Height<p class="list-group-item-text" data-ng-bind="currentBim.height"></p>
			Mass<p class="list-group-item-text" data-ng-bind="currentBim.mass"></p>
		        Mass-Index<p class="list-group-item-text" data-ng-bind="currentBim.index"></p>
			</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="currentBim.$resolved && !bims.length">
		No BIMS yet, why don't you <a href="/#!/bims/create">create one</a>?
	</div>
</section>
