<section data-ng-controller="BimsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="bim.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == bim.user._id">
		<a class="btn btn-primary" href="/#!/bims/{{bim._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
		        <p class="text-error">Created on:	
			<span class="list-group-item-text" data-ng-bind="bim.created | date:'mediumDate'"></span></p>
			<p class="text-warning">Category
			<span class="list-group-item-text"data-ng-bind="bim.category"></span></p>
			<p class="text-info">Mass
			<span class="list-group-item-text"data-ng-bind="bim.mass"></span></p>
			<p class="text-info">Height
			<span class="list-group-item-text"data-ng-bind="bim.height"></span></p>
</section>
